/* @import url('https://fonts.googleapis.com/css2?family=Source+Serif+Pro:ital,wght@1,200;1,300;1,600&display=swap'); */

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: linear-gradient(-60deg, rgb(16, 24, 65), rgb(32, 43, 96)) ;
  color: #c6c6c6;
  background-repeat: no-repeat;
  background-attachment: fixed;
}
*,
*::before,
*::after {
  box-sizing: border-box;
}
div {
  scrollbar-color: #c6c6c6 transparent !important;
  scrollbar-width: thin !important;
  scrollbar-arrow-color: transparent !important;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
.navbar{
  background: linear-gradient(-60deg, rgb(16, 24, 65), rgb(32, 43, 96)) ;
  border-bottom: 1px solid #ffffff20;
}
.footer {
  text-align: center;
  padding: 5px;
  position: fixed;
  bottom: 0;
  width: 100%;
  font-size: 14px;
  background: linear-gradient(-60deg, rgb(16, 24, 65), rgb(32, 43, 96));
  border-top: 1px solid #ffffff20;
}

.footer-text,p,span {
  color: #c6c6c6;
}

p {
  margin-bottom: 0;
}

form {
  display: flex;
  flex-direction: column;
}

textarea {
  height: 200px;
}

.postCredit {
  font-size: 1rem;
}

.postCredit a, 
.postCredit a:visited {
  margin-right: 0.5rem;
  color: black;
}

.postCredit a:hover, 
.postCredit a:focus {
  color: hsla(0, 0%, 0%, 0.75);
}

.excerpt {
  font-style: italic;
}

.reactionButton {
  margin: 0 0.25em 0 0;
  background: transparent;
  border: none;
  color: #000;
  font-size: 1rem;
}

.deleteButton {
  background-color: palevioletred;
  color: white;
}
.posts{
    background: linear-gradient(65deg,#101841,#202b60);
    box-shadow: "0px 5px 10px rgba(0,0,0,0.25)";
    padding: "15px";
    border-radius: "5px";
    margin-bottom: 8;
    /* color: invertDark(theme), */
    cursor: "pointer";
    color : white;
}